
@media screen and (min-width:780px){

body
{
	background: #E5E5E5;
}
nav
{
	background: #FFFFFF;	
	padding: 0;
	border: 1px solid green;


}

nav ul 
{
	padding: 0;
	margin: 0;

}
nav ul li
{
	display: inline-block;
}


section#contenido-item
{
	width: 68%;
	background: red;
	display: inline-block;
}


aside
{
	width: 30%;
	display: inline-block;
	vertical-align: top;

}


article.contenedor-autos ul li figure  
{
	max-width: 150px;
	width: 100%;
	
}

article.contenedor-autos ul li figure img 
{
	max-width: 300px;
	width: 100%;
	display: inline-block;
}

article.contenedor-autos 
{
	border: 2px solid black;
}

article.contenedor-autos ul li 
{
	
	display: inline-block;
	margin: 1em;
}
#contenido-item .contenedor2 ul
{
	display: inline-block;
}

#contenido-item .contenedor2 ul li
{
	display: inline-block;
}

#contenido-item .contenedor2 ul li figure img
{
	max-width: 100px;
	width: 100%;
	border: 1px solid yellow;
}





.iblock
{
	display: inline-block;
}


}