*
{
	border:0;
	padding: 0;
}

html
{
	background: white;
}

body
{
	margin: 0;
}


header 
{
	background: #2691BD;
	margin: 0 auto;
	text-align: left;
	color: white;
	width: 90%;
	padding: 0;
	box-sizing:border-box;
	border:1px solid gray;
}

section#slider-nivo
{
	margin: 0 auto;
	border: 3px solid yellow;
	text-align: center;
	background: white;
}

section#contenido-item .contenedor2 ul li figure img
{

}

h1
{
	margin: 0;
	font-size: 26px ;
	color: white;
	border:1px solid yellow;
	font-family: 'PT Sans', sans-serif;
	padding: 1em;
	box-sizing:border-box;
}
input,textarea
{
	display: block;
	background: #FBFBFB;
	color: white;
	max-width: 300px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	padding: 0.5em;
	border-radius: 5px;
}


button[type="submit"]
{
	display: block;
	background: #F8BD0C;
	color: white;
	max-width: 300px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	font-size: 18px;
	padding: 0.5em;
	border-radius: 5px;
	border-bottom: 2px solid #F19700;
}
nav
{
	background: #FFFFFF;	
	padding: 0;
	border: 1px solid green;
	text-align: center;


}

nav ul 
{
	padding: 0;
	margin: 0;

}
 nav ul li
 {
 
 }

 


 form
 {
 	background: #146484;
 	box-sizing:border-box;
 	padding:0.5em;
 	width: 100%;
 	margin: 0 auto;conten
 }

footer
{
	clear: both;
	background: #303030;
	padding: 1em;
	box-sizing:border-box;
	text-align: center;

}

footer a
{
	text-decoration: none;
	list-style: none;
	color: white;
}




aside
{
	clear: both;
	background: magenta;
	padding: 0;
}
aside article  h2
{
	border-bottom: 1px solid gray;
}
aside article
{
	background: red;
	padding: 1em;
	box-sizing:border-box;
}

.contenedor-principal
{
	width: 90%;
	text-align: center;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 0;
	box-sizing:border-box;
	background: white;
}

#ultimos-publicados-item
{
	
	width: 90%;
	margin: 1em auto;
	box-sizing:border-box;
	background: #303030;
	color: white;
	padding: 0.5em;
	font-size: 25px;
	text-align: left;

}

#hotcars
{
	border: 1px solid black;
	background: gray;
	padding: 1em;
	margin-bottom: 1em;
	width: 90%;
	box-sizing:border-box;
	margin:1em auto 1em auto;

	
}

#hotcars article 
{
	padding: 0;
	margin: 0;
}
#hotcars article figure 
{
	display: inline-block;
	float: left;
	border: 1px solid yellow;	
	margin: 0.5em 0 0 0;
	
	

}

#hotcars figure img
{
	max-width: 130px;
	width: 100%;
	border: 1px solid red;
	margin: 0;
	
}

#hotcars article article
{
	border: 1px solid green;
	display: inline-block;
	margin:0.5em 0 0 0;
	max-width: 250px;
	text-align: left;
	vertical-align: top;
	width: 100%;

}

#hotcars article article h2
{
	padding: 0;
	margin: 0;
}

#hotcars article article p
{
	padding: 0;
	margin: 0;
}

#hotcars article article span
{
	padding: 0;
	margin: 0;
	border: 1px solid yellow;
	font-size: 20px;
}

article.contenedor-autos
{
	border: 1px solid #222222;
	width: 90%;
	margin:0 auto;
	box-sizing:border-box;
	background: white;
}

article.contenedor-autos ul li 
{
	list-style: none;
	
}

article.contenedor-autos ul li figure
{
	border:1px solid orange;
	max-width: 300px;
	margin: 0 auto;
	
}
article.contenedor-autos ul li figure img
{
	max-width: 250px;
	width: 100%;
}




#contenido-item .contenedor2 ul
{
	list-style-type: none;
}

#contenido-item .contenedor2 ul li figure img
{
	max-width: 100px;
	width: 100%;
}








.iblock
{
	display: block;
}


.fleft
{
	float: left;
}
.fright
{
	float: right;
}

.imgsmall
{
	max-width: 150px;
	width: 100%;

}
