*
{
	border:0;
	padding: 0;
}

html
{
	background: #FBFBFB;
}

body
{
	margin: 0;
}
header 
{
	background: #109CD5;
	margin: 0 auto;
	text-align: left;
	color: white;
	width: 90%;
	padding: 0;
	box-sizing:border-box;
	border:1px solid gray;
}

h1
{
	margin: 0;
	font-size: 26px ;
	color: white;
	border:1px solid yellow;
	font-family: 'PT Sans', sans-serif;
	padding: 1em;
	box-sizing:border-box;
}
input,textarea
{
	display: block;
	background: orange;
	color: white;
	max-width: 300px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	padding: 0.5em;
	border-radius: 5px;
}


button[type="submit"]
{
	display: block;
	background: #C34614;
	color: white;
	max-width: 300px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	padding: 0.5em;
	border-radius: 5px;
}
nav
{
	background: #FFFFFF;
	width: 100%;
	padding: 0;
	border: 1px solid green;
}

nav ul 
{
	padding: 0;
	margin: 0;
}
 nav ul li
 {
 	padding: 0;
 	border: 1px solid red;
 	margin: 0;
 	padding: 0.5em 1em;
 }

 nav ul li a
 {
 	text-decoration: none;
 	color: #222222;

 }

 figure
 {
 	border: 1px solid green;
 	max-width: 150px:;
 }

footer
{
	clear: both;
}

h2
{
	display: block;
	border:1px solid red;
}

aside{clear: both;}
.contenedor
{
	width: 90%;
	text-align: center;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 0;
	box-sizing:border-box;
}

#ultimos-publicados-item
{
	
	width: 90%;
	margin: 1em auto;
	box-sizing:border-box;
	background: #303030;
	color: white;
	padding: 0.5em;

}

#hotcars article
{
	border-bottom:1px solid blue;
	clear: both;

}
.contenedor2
{
	border: 1px solid #222222;
	width: 90%;
	margin:0 auto;
	box-sizing:border-box;
}

.iblock
{
	display: inline-block;
}


.fleft
{
	float: left;
}
.fright
{
	float: right;
}

.imgsmall
{
	max-width: 250px;
	width: 100%;

}

