@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?sjuqqa');
	src:url('../fonts/icomoon.eot?#iefixsjuqqa') format('embedded-opentype'),
		url('../fonts/icomoon.woff?sjuqqa') format('woff'),
		url('../fonts/icomoon.ttf?sjuqqa') format('truetype'),
		url('../fonts/icomoon.svg?sjuqqa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-camera:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e603";
}
.icon-bullhorn:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e606";
}
.icon-mobile:before {
	content: "\e607";
}
.icon-drawer:before {
	content: "\e608";
}
.icon-bubbles:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-cog:before {
	content: "\e60b";
}
.icon-fire:before {
	content: "\e60c";
}
.icon-switch:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e60e";
}
.icon-cloud-download:before {
	content: "\e60f";
}
.icon-star:before {
	content: "\e610";
}
.icon-arrow-up-left:before {
	content: "\e611";
}
.icon-arrow-up:before {
	content: "\e612";
}
.icon-arrow-up-right:before {
	content: "\e613";
}
.icon-arrow-right:before {
	content: "\e614";
}
.icon-arrow-down-right:before {
	content: "\e615";
}
.icon-arrow-down:before {
	content: "\e616";
}
.icon-arrow-down-left:before {
	content: "\e617";
}
.icon-arrow-left:before {
	content: "\e618";
}
.icon-facebook:before {
	content: "\e619";
}
.icon-twitter:before {
	content: "\e61a";
}



*
{
	border:0;
	padding: 0;
}

html
{
	background: white;
}

body
{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}


header 
{
	background: #2691BD;
	margin: 0 auto;
	text-align: left;
	color: white;
	width: 90%;
	padding: 1em 0;
	box-sizing:border-box;
	border:1px solid lightgray;
	position: relative;

}

section#slider-nivo
{
	margin: 0.5em auto;
	border: none;
	text-align: center;
	background: white;
	width: 90%;
}

.fleft
{
	float: left;
}

h1
{
	display: none;
}


input,textarea
{
	display: block;
	background: #FBFBFB;
	color: #303030;
	max-width: 500px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	padding: 1em;
	border-radius: 5px;
}


button[type="submit"]
{
	display: block;
	background: #F8BD0C;
	color: white;
	max-width: 500px;
	width: 100%;
	margin: 0.5em auto ;
	box-sizing:border-box;
	font-size: 18px;
	padding: 1em;
	border-radius: 5px;
	border-bottom: 2px solid #F19700;
}
header nav
{
	display: none;
	z-index: 9 ;
	left: 20px;
	background: #303030 ;
	padding: 1em 2em  ;
	text-align: center;
	position: absolute;
	


}

.relative
{
	position: relative;
}

.absolute
{
	position: absolute;
}

header nav ul 
{
	padding: 0;
	margin: 0;

}
 header nav ul li
 {
 	
 	padding: 0;
 	box-sizing:border-box; 	 	
 	padding: 1em 0;
 	list-style: none


 }
  header nav ul li a
 {
 	
 	color:white;
 	font-size: 30px;



 }

 


 form
 {
 	background: #146484;
 	box-sizing:border-box;
 	padding:0.5em;
 	width: 100%;
 	margin: 0 auto;conten
 }

footer
{
	clear: both;
	background: #303030;
	padding: 1em;
	box-sizing:border-box;
	text-align: center;


}


footer a
{
	text-decoration: none;
	list-style: none;
	color: white;
}

#cuadro-marcas
{
	border: 1px solid lightgray;
	width: 90%;
	margin: 0 auto;
	

}

.banner
{
	max-width: 700px;
	width: 100%;
	margin: 0;
}


aside
{
	margin-top: 0.5em;
	clear: both;
	background: none;
	padding: 0;
	border: 1px solid lightgray;
	clear: both;
}
aside article  h2
{
	border-bottom: none;
	margin: 0 0 0.5em 0;
}
aside article
{
	background: none;
	padding: 1em;
	box-sizing:border-box;
}



.contenedor-principal
{
	width: 90%;
	text-align: center;
	border: 1px solid lightgray;
	margin: 0 auto;
	padding: 0;
	box-sizing:border-box;
	background: white;
}

.menu-icon
{
	color: white ;
	font-size: 35px;
	padding: .5em;
	text-decoration: none;
	transition:all 1s ease;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
}

.menu-icon:hover
{
	color:#F8BD0C;
}

#ultimos-publicados-item
{
	
	width: 90%;
	margin: 1em auto;
	box-sizing:border-box;
	background: #303030;
	color: white;
	padding: 0.5em;
	font-size: 25px;
	text-align: left;

}

#hotcars
{
	border-bottom: 1px solid lightgray;
	background: white;
	padding: 1em;
	margin-bottom: 1em;
	width: 90%;
	box-sizing:border-box;
	margin:1em auto 1em auto;

	
}

.darkbg
{
	background: #303030;
	color: white;
	padding: 0.5em 0.5em;
	font-weight: normal;
	text-align: left;
}

#hotcars:hover
{
	background: #FBFBE3;
	color: red;
}

#hotcars article 
{
	padding: 0;
	margin: 0;
}
#hotcars article figure 
{
	display: inline-block;
	float: left;
	border:none;	
	margin: 0.5em 0 0 0;
	
	

}

#hotcars figure img
{
	max-width: 150px;
	width: 100%;
	border: none;
	margin: 0;
	
}



#hotcars article article h2
{
	padding: 0;
	margin: 0;
	color: #155581;
}

#hotcars #hotcars-item article p
{
	
	display: block;
	width: 100%;
}
#contenido-item section article figure img
{
	max-width: 780px;
	width: 100%;
}

#contenido-item section article p
{
	
	margin: 1em;
}

aside #datos-auto  ul
{

}

aside #datos-auto  ul li
{
	list-style: none;
	border:1px solid #cccccc;
	font-size: 25px;
	padding:0.5em 0;
	box-sizing:border-box;
	background: #F1F1F1;
}

#hotcars article article p
{
	padding: 0;
	margin: 0;
	color: #53565B;
}

#hotcars article article span
{
	padding: 0;
	margin: 0;
	border: none;
	font-size: 20px;
}

.contenedor-autos
{
	width: 90%;
	margin:0 auto;
	box-sizing:border-box;
	background: white;
}

.contenedor-autos ul li 
{
	list-style: none;
	
}

.contenedor-autos ul li figure
{
	
	max-width: 300px;
	margin: 0.5em auto;
	
}
.contenedor-autos ul li figure img
{
	max-width: 250px;
	width: 100%;
}



.contenedor2
{
	

	width: 90%;
	margin:0 auto;
	box-sizing:border-box;
	background: white;
}

.contenedor2 ul li 
{
	list-style: none;
	
}

.contenedor2 ul li figure
{
	border:none;
	max-width: 300px;
	margin: 0.5em auto;
	padding: 0.5em;
	
}

.contenedor2 ul li figure:hover
{
	background: #FBFBE3;
}
.contenedor2 ul li figure img
{
	max-width: 250px;
	width: 100%;
}

.iblock
{
	display: block;
}



.fright
{
	float: right;
}

.imgsmall
{
	max-width: 150px;
	width: 100%;

}

.text-container
{
	margin:0.5em;
}

.textleft
{
	text-align: left;
}

.list-format
{
	list-style: none;
	