body#fichatec {
	margin: 0;
	background-color: none;/*#595247;*/ /* #E4E4E4;*/
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-serif;
	color: #000;
	list-style-position: inside;
	line-height: normal;
}
.titFT {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #27221E;
	padding-left: 4px;
}

td.Info {
	font-weight: bold;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
td.Dato { padding: 4px 0px; border-right: 1px dotted #333333;}
.espacioVer { margin: 0; }
.NomVersion {
	background-color: Transparent;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	width: 116px;
	height: 40px;
	padding-top: 8px;
	margin-right: 4px;
	border-right: 1px solid #fff;
}
.rengNon { background-color: none;margin: 0; }
.rengPar { margin: 0; background-color: #9a9d8b; }
.filNomVer { position: fixed; right: 0px; top:0px; background-color:#333333; display: none; }

.global { font-size: 11px; font-weight: normal; margin-top: 10px;}

/*CHEROKEE 2014*/
#fichatec.CHRO14 .filNomVer { background-color: #876b0e; color: #000;}

#fichatec.CHRO14 .NomVersion{color: #fff;}
#fichatec.CHRO14 .titFT {color: #fff;}

#fichatec.CHRO14 .rengPar { margin: 0; background-color: #876b0e; color:#fff;}

#fichatec.CHRO14 .rengNon { background-color: none;margin: 0; color:#fff;}

#fichatec.CHRO14 .notas-disclaim{color: #fff;}


/*GRAND CHEROKEE BLINDADA*/

#fichatec.GCBL14 .filNomVer { background-color: #38480f; color: #000;}

#fichatec.GCBL14 .NomVersion{color: #fff;}
#fichatec.GCBL14 .titFT {color: #000;

}

#fichatec.GCBL14 .rengPar { margin: 0; background-color: #38480f;color: #B0B0B0;}

#fichatec.GCBL14 .rengNon { background-color: none;margin: 0; color:#000;}

#fichatec.GCBL14 .notas-disclaim{color: #000;}

#fichatec.GCBL14 td.Dato {
padding: 4px 0px;
border-right: none;
}