*
{
    color:#fff;
    font-family: Arial, Serif;
    letter-spacing: 1px;
}
html, body, form, fieldset, input, textarea, select, button, ol, ul, img, div, p, span, a, h1, h2, h3, h4, h5, h6, sup, li {
    /*letter-spacing: 0.01em;
    line-height: 125%;*/
    margin: 0;
    outline: medium none;
    padding: 0;
	
}
body
{
    background-image:none;
    background-color:#fff;
    line-height:15px;
    word-spacing:0;
}
h1
{
    font-size:24px;
}
img { border:0; }
ul, li { 
	padding:0; 
	margin:0; 
	list-style:none; 
}
a { 
	text-decoration:none; 
	color:#fff; 
}
#contPrincipal
{
    height:100%;
}
#container-background
{
    height: 0;
    margin: 0 auto;
    max-width: 1800px;
    min-width: 950px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#container-background .wrap
{
    height: 780px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
#second-background.wrap
{
    height: 690px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
   /* margin-top:-5%;*/
}

#container-background .wrap .image
{
    margin-left: -50%;
    width: 200%;
    height:100%;
}
#container-background .wrap .image div
{
    height: 100%; /*92%;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1800px;
}
#second-background.wrap  .image div
{
    height: 100%;
}
#container-background .wrap .image div img
{
    width:100%;
    height:100%;
    display: none;
    left: 0;
    position: absolute;
    top: 0; /*tenia 0*/
}
#second-background.wrap  .image div img
{
    width:100%;
    height:100%;
}
#contHeader
{
    margin:0 auto;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:6;
}
#cuerpo, #footer
{
    margin:0px auto;
    width:950px;    
}
#header
{
    margin:0 auto;
    width:950px;
    height:68px;
    position:relative;
    z-index: 6;
}
#contLogo
{
    margin-top: 10px;
    position:absolute;
    left:0;
    z-index:5;
}
#contMenu
{
    border-bottom: 1px outset #FFFFFF;
    height: 23px;
    margin-left:200px;
    padding-top:20px;
    width:79%;
    position:relative;
    overflow:hidden;
}
#contMenu .menu
{
    position:relative;
    z-index:2;
}
#contMenu .brillo
{
    background-image:url(../img/menu/brillo.png);
    background-position:left top;
    background-repeat:no-repeat;
    display:none;
    height:3px;
    width:154px;
    position:absolute;
    left:-150px;
    top:42px;
    z-index:1;
}
#contMenu .menu li
{
    display:block;
    padding-right:4px;
    float:right;
    margin: 0;
    text-align:center;
    /*height:22px;*/
    height:32px;	
}
#contMenu .menu.negro li a
{
    color:#000;
}
#contMenu .menu.blanco li a
{
    color:#fff;
}
#contMenu .menu li.selected
{
    /*background-color:#fff;*/
    background-image:url(../img/bg_40-opacity.png);
    -o-border-radius:2px 2px 0 0;
	-icab-border-radius: 2px 2px 0 0;
	-khtml-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
#contMenu .menu.negro li.selected
{
    background-image:url(../img/negro.png);
}
#contMenu .menu li.distribuidores
{
    width:160px;
    position:relative;
}
#contMenu .menu li.historia
{
    width:90px;
    position:relative;
}
#contMenu .menu li.vehiculos
{
    float:left;
    /*width:100px;*/
    width:120px;
    position:relative;
}
#contMenu .menu li.vehiculos a
{
    text-transform:uppercase;    
}
#contMenu .menu li.noticias
{
    width:160px;
    position:relative;
}


#contMenu .menu li a
{
    display:block;
    font-size:13px;
    font-weight:bold;
    padding-top:5px;
}
#contMenu .menu li.selected a
{
    color:#000;
}
#contMenu .menu.negro li.selected a
{
    color:#fff;
}

#contMenu .menu li.camp {
	position: relative;
	top: -55px;
	right: 418px;
}

#contMenu .menu li.camp.selected { background: none;}

#contHeader .sub-menu
{
    display:none;
    position:absolute;
    width:950px;
    /*height:171px;*/
    z-index:10;
    margin-top:0;
}
#contHeader .sub-menu .wrap
{
    background-image:url(../img/menu/fondo_sub_menu.png);
    background-repeat:no-repeat;
    background-position:center 0;
    /*position:relative;*/
    position:absolute;
    width:750px;
    height:131px;
    /*margin-left: 155px;*/
    right:0;
}
#contHeader .sub-menu .wrap ul
{
    float:left;
    width:150px;
    overflow:hidden;
    padding-top:10px;
    background-image:url(../img/home/fondo_lista_vehiculos.png);
    background-repeat:no-repeat;
    background-position:right top;
    height: 167px;
    margin-top: -15px;
}
#contHeader .sub-menu .wrap li
{
    text-align:left;
}
#contHeader .sub-menu .wrap li a
{
    text-transform:uppercase;
    color:#000;
    font-weight:bold;
    font-size:11px;
    cursor:pointer;
    padding-top:7px;
    display:block;
}
#contHeader .sub-menu .wrap li a:hover
{
    color:#908700;
}
#contHeader .sub-menu .detail-hidden
{
    display:none;
}
#contHeader .sub-menu .vehiculos
{
    text-align:center;
    padding-top:30px;
}
#contHeader .sub-menu .vehiculos img
{
	/*background-image:url(../img/base-autos.png);*/
	background-repeat:repeat-x;
	background-position:0px 40px;
    margin-left:-14px;
    cursor:pointer;
}
#contHeader .sub-menu .noticias
{
    padding-left: 18px;
    height: 121px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 732px; 
}
#contHeader .sub-menu .noticias img
{
    margin:-93px 0px 0px 0px;
    float:left;
}
#contHeader .sub-menu .detail
{
    display:none;
    padding:10px;
}
#contHeader .sub-menu .detail div
{   
    width:350px;
    font-size:14px;
    text-align:right;
    color:#E8B041;
}
#detailVeh
{
    float:left;
    margin-top: -12px;
}
#cuerpo
{
    top:0;
    position:relative;
    height: 100%; /*Este alto no debe modificarse o defasaria todo*/
    overflow: visible;
    z-index:3;
    padding-top:1px;
}
#cuerpo.home
{
    height: 86%; /*Este alto no debe modificarse o defasaria todo*/
}
/*eta condicion es para chrome*/
#divNavDer, #divNavIzq
{
    top:0;
    position:absolute;
    z-index:4;
    margin-top:32%;
}
/* condicion para mozilla*/
#divNavDer, #divNavIzq,  x:-moz-any-link, x:default 
{
    top:0;
    position:absolute;
    z-index:4;
    margin-top:22%;
}


#divNavIzq
{
    left:0;
    margin-left:5%;
}
#divNavDer
{
    left:auto;
    right:0;
    margin-right:5%;
    margin-left:855px;
}

#divNavDer img, #divNavIzq img
{
    cursor:pointer;
}
/*#cont-footer
{
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index:3;
}*/
#footer
{
    position:relative;
    z-index:4;
}
#nav-banner-secciones
{
    height: 88px;
    /*margin-top:-105px;*/
}
#vehiculos-nav img
{
    vertical-align:text-top;
}
#vehiculos-nav
{
    text-align:center;
    /*height:50px; anterior*/
    height:0px;
    margin-bottom:85px;
   /* background-image:url(../img/fondo_nav.png);
    background-repeat:no-repeat;
    background-position:center;*/
}
#vehiculos-nav.fixed
{
    position:fixed;
    bottom:100px;
    margin-left: 60px;
    clear:both;
}
#vehiculos-nav ul
{
    position:relative;
    /*padding-top:8px;*/
    width:830px;
    margin:0 auto;
}
#vehiculos-nav.fixed ul
{
    margin:0;
}
#vehiculos-nav ul li
{
    display:inline;
    position: relative;
    z-index: 2;
    margin-left: 20px;
    /*margin-left: 30px; anterior */
}
#vehiculos-nav ul li.first
{
    /*margin-left:16px;*/
    margin-left:26px;
}
#vehiculos-nav ul li.last
{
    margin-right: 20px;
}
#vehiculos-nav ul li.ui-hover
{
    border:solid 1px red;
}
#vehiculos-nav .control-slider
{
    display:block;
    position:absolute;
    background-image:url(../img/parrilla_nav.png);
    width:120px;
    height:70px;
    top:20px;
    left:0;
    z-index: 1;
    margin:0;
}
#vehiculos-nav .control-slider.front
{
    background-image:none;
    display:block;
    position:absolute;
    width:120px;
    height:70px;
    top:20px;
    left:0;
    z-index: 3;
    margin:0;
}
#vehiculos-nav .control-slider.back.ui-draggable-dragging
{
    background-image:none;
}
#vehiculos-nav .control-slider.front.ui-draggable-dragging
{
    background-image:url(../img/parrilla_nav_dragging.png);
    background-repeat:no-repeat;
    z-index:3;
}
#vehiculos-nav .control-slider a
{
    display:block;
    position:absolute;
    bottom:0;
    cursor:pointer;
    height:20px;
    width:100%;
}
#banners
{
    height: 103px;
    overflow: hidden;
    text-align: center;
    width: 950px;
	/* modificacion para banners subir*/
	position:absolute;
	top:-31px;
}
#banners.fixed
{
    top: auto;
    position:fixed;
    bottom:0;
}
#contBanners
{
    margin-left: 30px;
    float:left;
    width:870px; 
}
#contBanners ul li
{
    float:left;    
    margin-top:56px;
    width:290px;
    height:104px;
}
#banners .flecha
{
    float:left;
    margin-top:76px;
    cursor:pointer;
}
#banners .flecha.derecha
{
    float:right;
}
#secciones
{
    background-image: url("../img/home/pleca_ligasCorp.png");
    background-position: center -6px;
    background-repeat: no-repeat;
    height: 46px;
    margin-top: -25px;
	/*margin-top: -10px;*/
    position: relative;
    width: 950px;
    z-index: 2;
    padding: 20px 0;
}
#secciones.fixed
{
    margin-top: 45px;
    background-image:none;
}
#secciones ul
{
    margin:0 auto;
    width:936px; 
}
#secciones ul li
{
    float:left;    
}
#ligasCorp
{
    height:20px;
    padding-top:5px;
}
#ligasCorp ul
{
    margin:0 auto;
    width:745px; 
}
#ligasCorp ul li
{
    background-image:url(../img/home/flecha_opcion.png);
    background-repeat:no-repeat;
    background-position:right center;
    float:left;
    padding-right: 10px;
    margin-right:5px;
}
#ligasCorp ul li a
{
    font-size:12px;
    color:#000;
    text-transform:uppercase;
    font-weight:bold;
}
#redes-sociales
{
    /* estilo de anterior posicion JLG191212
    background-image:url(../img/home/fondo_redes_sociales.png);
    background-repeat:no-repeat;
    background-position:top;
    padding-top:20px;
    text-align:center;
    margin-bottom:10px;   
    */
    float: right;
    top: 5px;
    position: relative;
	
}
#redes-sociales ul li
{
    display:inline;
}
#accesos-rapidos ul
{
    float:left;
    margin-left:8px;
   /* margin-left:10px;*/
}
#accesos-rapidos.ipad ul
{
    margin-left:15px;
}
#accesos-rapidos .title
{
    color:#000;
    font-size:12px;
    font-weight:bold;
    display:block;
    height:20px;
    text-align:center;
    padding-top:5px;
    width:100%;
}
#accesos-rapidos
{
    background-image:url(../img/fondo_accesos_rapidos.png);
    background-repeat:no-repeat;
    background-position:top;
    padding-top:12px;
    margin-bottom:10px;
}
#accesos-rapidos .contenedor
{
    background-image:url(../img/fondo-menu.jpg);
    height:180px;
}
#accesos-rapidos .borde-inferior
{
    background-image:url(../img/fondo_accesos_rapidos_inf.png);
    background-repeat:no-repeat;
    height:19px;
    padding-bottom:25px;
}

#accesos-rapidos ul.vehiculos
{
    width:280px;
}
#accesos-rapidos ul.accesos
{
    width:330px;
}
#accesos-rapidos ul.garantias
{
    width:180px;
}
#accesos-rapidos ul.tecnologia
{
    width:120px;
}
#accesos-rapidos.ipad ul.vehiculos
{
    width:310px;
}
#accesos-rapidos.ipad ul.accesos
{
    width:360px;
}
#accesos-rapidos.ipad ul.garantias
{
    width:230px;
}
#accesos-rapidos.ipad ul.garantias li.separador
{
    border:0;
}
#accesos-rapidos ul li a
{
    color:#252525;
    font-size:12px;
}
#accesos-rapidos ul li a:hover
{
    font-weight:bold;
    color:#000;
}
#accesos-rapidos .separador 
{
    border-right:solid 1px #5D5D5D;
    height:125px;
    margin:4px;
}
#accesos-rapidos .lista li
{
    list-style:disc outside;
    list-style-image: url(../img/footer/bullet_acceso_rapido.png);
}
#marcas
{
    text-align:center;
    margin-bottom:10px;
    height: 45px;
}
#marcas ul li
{
    position: relative;
    display:inline;
    top: -20px;
    /*margin-left:30px;*/

}

#marcas ul li .RM img{  
margin-right: 10px;
}

#marcas ul li .DG img{  
margin-right: 18px;
}
#marcas ul li .CH img{  
margin-right: 18px;
}


#minisitios
{
    background-image:url(../img/fondo_minisitios.png);
    background-repeat:no-repeat;
    background-position:center;
    width:883px;
    height:79px;
    vertical-align:top;
    position:relative;
    padding:0 33px;
}
#minisitios a
{
    margin-left:13px;
}
#minisitios img.garantia
{
    float:left;
}
#minisitios img.minisitios
{
    float:right;
}
#minisitios img.garantia
{
    margin:0 10px 0 60px;
}
#minisitios img.minisitios
{
    margin:0 60px 0 10px;
}

#minisitios img.texto
{
    margin-top:20px;
    margin-right: 30px;
    margin-left:30px;
}
#minisitios img.legal
{
    bottom: 0;
    left: 298px;
    position: absolute;
    width:auto;
}

#links-garantias, #links-tecnologias
{
    position:absolute;
    top:0;
    margin-top:10px;
    display:none;
    width: 540px;
	/*width: 420px*/
}
#links-garantias
{
    margin-left:30px;
	/*margin-left:50px;*/
    left:0;
}
#links-tecnologias
{
    text-align: right;
    margin-right:50px;
    right:0;
}
#exa
{
    color: #000;
    position:absolute;
    bottom:0;
    right:40px;
    font-size:9px;    
}
#exa a
{
    color: #000;
    font-size: 9px;
    text-decoration: none;
}
#slidesHome
{
    height:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:4;
}
#slidesHome li
{
    display:none;
}
#slidesHome li .area
{
    position: absolute; 
    z-index: 4;
    cursor: pointer;
    display:block;
    background-image:url(../img/vacio.gif);
}
#cont-footer
{
    padding-top:1px;
}
.loader {
    display: none;
    left: 400px;
    padding: 5px 5px 2px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 120px;
    font-size:12px;
    color:#000;
}
.boton-vermas
{
    bottom: 20px;
    left: 180px;
    position: absolute;
    width: 70px;
}
.boton-vermas a
{
    font-size:12px;
    color:#000;
	font-weight: bold;
}
.fondo-trasparente
{
    background-image:url(../img/vacio.gif);
    background-color:Transparent;
}
.loading
{
    background-image:url(../img/preloader.png);
    background-repeat:no-repeat;
    background-position:center;
}
.camera_wrap
{
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.go-top, .go-top-footer
{
    text-align:center; 
    margin:20px;
}

/*Auxilio Vial*/
.texto-auxilio
{
    padding: 20px;
    text-align: center;
    width: 750px;

}


.texto-auxilio p
{
    letter-spacing: 1px;
	font-size:12px;
	font-weight:normal;
	text-align:justify;
}

.texto-auxilio h1
{
    letter-spacing: 1px;
	font-size:16px;
	text-align:justify;
}

.texto-auxilio h5
{
    letter-spacing: 1px;
	font-size:16px;
	text-align:justify;
}

.texto-auxilio h6
{
    letter-spacing: 1px;
	font-size:16px;
	text-align:justify;
}


.texto-auxilio ul
{
   list-style:disc !important;
   font-size:12px;
   text-align:justify;
}

.texto-auxilio ul li
{
   list-style:disc !important;
   margin-left:30px;
   font-size:12px;
   text-align:justify;
   	font-weight:normal;

}

.texto-auxilio ol
{
   list-style:disc !important;
   font-size:12px;
   text-align:justify;
}

.texto-auxilio ol li
{
   margin-left:30px;
   font-size:12px;
   text-align:justify;
   	font-weight:normal;

}

/*familia Home*/
.familia{
/*width: 950px;
height: 50px;
top: 310px;
margin: 0 auto;
left: 0px;
position: relative;*/
}

.familia div{
    position: absolute;    
    text-align: center;
    /*float: left;
    width: 135px;
    height: 34px;
    
    color: #fff;
    margin:0px;
    margin-left:10px;*/
    /*background-color: #333;*/
}

.familia div a{
    position: relative;
    left:0px;
    height: 34px;
    text-align: left;
    font-family: Arial, Serif;   
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    margin:0px;
    text-decoration:none;
    z-index:100;
}

.links div
{
    
    position: absolute;
}

.links div img
{
    width: 100%;
    height:100%;
    border:0;
}