*
{
	font-family: 'linux_biolinumregular', Arial;
}
html, body
{
	background-color:#27221E;
	font-size:14px;
}
body
{
	padding-top:1px;
}
#container-background .wrap .image div
{
	width:1920px;
}
#container-background .wrap .image div img
{
	width:auto;
	height:auto;
}
#header .menu
{
	position:fixed;
	background-image:url(../img/menu/fondo.png);
	background-repeat:no-repeat;
	width:942px;
	height:59px;
	margin:-1px auto 0 auto;
}
#header.ipad .menu
{
	position:absolute;
	top:0;
}
#header .menu .logo
{
	position:relative;
	margin:auto;
	width:112px;
	height:53px;
	z-index:2;
}
#header .menu .container
{
	position:absolute;
	margin-top:-40px;
	z-index:1;
}
#header .menu .container .item a {font-size:13px;}

#header .menu .container.left
{
	left:10px;
}
#header .menu .container.left .item
{
	padding:3px 6px;
	border-right: 1px solid #ccc;
}
#header .menu .container.right
{
	right:10px;
}
#header .menu .container.right .item
{
	padding:3px 6px;
	border-right: 1px solid #ccc;
}

#header .menu .item
{
	float:left;
	padding:3px;
}
#cuerpo
{
	width:auto;
}
#cuerpo.ipad
{
	margin-top:59px;
}
#cuerpo .delimiter
{
	position:relative;
	margin:auto;
	width:950px;
}
#cuerpo .section
{
	width:100%;
	overflow:hidden
}
#cuerpo .home .delimiter
{
	height:710px;
}

#cuerpo .home #btnVideo
{
	position:absolute;
	right:50px;
	top:100px;
	margin:5px 5px;
}

#cuerpo .home #btnMod2013
{
	position:absolute;
	left:0;
	bottom:70px;
	margin:5px 0;
}

#cuerpo .home #btnSRT
{
	position:absolute;
	left:200px;
	bottom:70px;
	margin:5px 20px;
}

#cuerpo .home #btnBLIN
{
	position:absolute;
	left:0;
	bottom:70px;
	margin:5px 0;
}
#cuerpo .home .title-red-social
{
	position:absolute;
	right:0;
	bottom:0;
	margin:5px 0;
}
#cuerpo .home .title-red-social .red-social
{
	margin-top:15px;
	text-align:center;
}


#cuerpo .content
{
	padding-top:1px;
}
#cuerpo .content .title
{
	text-transform:uppercase;
	font-size:24px;
	letter-spacing:12px;
	margin: 10px 0 30px 0;
}
#cuerpo .content .title .sub-title
{
	text-transform:none;
	font-size:14px;
	letter-spacing:3px;
	color:#7c7672;
}

/* ====== INNOVACION ====== */
#cuerpo .innovacion{
	height: 5400px;
}
#cuerpo .innovacion .list li
{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:16px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size:16px;
	color:#000;
}
#cuerpo .innovacion .list .sub-list li
{
	margin-left:26px;
	color:#000;
}
#cuerpo .innovacion .image-float
{
	position:absolute;
	right:50px;
	top:0;
}
#cuerpo .innovacion .image-float-left
{
	position:absolute;
	left:50px;
	top:0;
}
#cuerpo .innovacion .item
{
	position:relative;
	line-height:20px;
}

/* ====== COLORES ====== */
#cuerpo .colores
{
	background-color:#fff;
	padding: 50px 0 20px 0;
	height: 800px;
}
#cuerpo .colores .title
{
	color:#000;
	text-align:right;
}
#cuerpo .colores .title .sub-title
{
	margin-right:20px;	
}
#cuerpo .colores .auto-container
{
	position:relative;
	padding:10px;
	margin:10px;
	border-radius:10px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:	0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:		 0px 1px 5px rgba(50, 50, 50, 0.75);
	height:430px;
}
#cuerpo .colores .selector .list
{
	display:none;
}
#cuerpo .colores .selector li
{
	display:inline;	
}
#cuerpo .colores .selector .name
{
	width:320px;
	height:20px;
	color:#000;
	text-align:right;
}
#cuerpo .colores .auto-container .view
{
	position:absolute;
	width:500px;
	height:341px;
	right:0;
	top:100px;
}
#cuerpo .colores .auto-container .view img
{
	position:absolute;
	display:none;
}

#cuerpo .colores .auto-container .view #discFoto
{
	position:absolute;
	bottom:0;
	right:0;
	color:#000;
	font-size:11px;
}

#cuerpo .colores .auto-container .disclaimer
{
	position:absolute;
	left:10px;
	bottom:10px;
	width:400px;
	color:#000;
	text-align:justify;
}
#cuerpo .colores .selector.version
{
	margin-top:50px;
}

/* ====== FINANCIAMIENTO ====== */

#cuerpo .financiamiento {background-color:#949494; height: 900px;}
#cuerpo .financiamiento #contFinan
{
	float:left;
	width:950px;
	height:600px;
}

#cuerpo .financiamiento #contFinan #info
{
	float:left;
	margin-top:20px;
	margin-left:75px;
	width:800px;

}
#cuerpo .financiamiento #contFinan #info td.tit {
	font-size:16px;
	background-color:#787878;
	font-weight:bold;
	padding:14px;
	text-transform:uppercase;
	text-align:center;
}
#cuerpo .financiamiento #contFinan #info td.txt {
	font-size:16px;
	background-color:#636849;
	font-weight:bold;
	padding:14px;
	text-transform:uppercase;
	text-align:center;
}

#cuerpo .financiamiento #contFinan #info .legales{
	margin-top:20px;
	color:#000;
	font-size:12px;	
}

#cuerpo .financiamiento #contFinan #info #feria {margin-top:30px;}
#cuerpo .financiamiento #contFinan #info #feria h3 {color:#000;}
#cuerpo .financiamiento #contFinan #info #feria td p { font-size:12px;color:#000; }



/* ====== PROMOCIONES ====== */
#cuerpo .promociones {background-color:#EBE2D1}
#cuerpo .promociones #contPromociones
{
	width:950px;
	height:500px;
	background: url('../img/fondo-promociones.jpg') no-repeat;
}

#cuerpo .promociones #contPromociones #info
{
	float:left;
	margin-top:20px;
	margin-left:4px;
	

}
#cuerpo .promociones #contPromociones #txtPromo{
	color:#000;
	font-size:22px;
	line-height:24px;
}

#cuerpo .promociones #contPromociones #txtPromo span {font-size:11px;color:#000;}

#cuerpo .promociones #contPromociones #info #legales{
	position: absolute;
	bottom: 30px;
	color:#000;
	font-size:12px;	
}

/* ====== PRECIOS ====== */
#cuerpo .precios { background-color:#fff; }
#cuerpo .precios .delimiter
{
	background-color:#fff;
}
#cuerpo .precios .title
{
	color:#000;
}

#contTit{
	position:relative;
	height:24px;
	margin-top:4px;
}
.titPR
{
    background-color:#27221E;
    padding:5px;
    position:absolute;
}

/* ====== FICHA TECNICA ====== */
#cuerpo .ficha {background-color:#EBE2D1}
#cuerpo .ficha .delimiter { background-color:#EBE2D1; }
#cuerpo .ficha #cont-print { float: right;}



/* ====== CATALOGO ====== */
#cuerpo .catalogo {background-color:#27221E}
#cuerpo .catalogo #contCatalogo
{
	float:left;
	width:950px;
	height:500px;
	background: url('../img/catalogo/fondo.jpg') no-repeat;
}

#cuerpo .catalogo #contCatalogo #info
{
	float:right;
	margin-top:20px;
	margin-right:10px;
	width:300px;
}

#cuerpo .catalogo #contCatalogo #info .texto
{
	color:#000;
	text-align:justify;
}

#cuerpo .catalogo #contCatalogo #info .linkAdobe
{
	color:#000;
	font-size:11px;
}


/* ====== GALERIA ====== */
#cuerpo .galeria .view
{
	width:950px;
	height:700px;
	text-align:center;
}

#cuerpo .galeria .selector
{
	width:950px;
	height:120px;
	overflow:hidden;
}
#cuerpo .galeria .selector li
{
	float:left;
	width:176px;
	height:120px;
	margin-left:2px;
}

#cuerpo .galeria .flechaIzq
{
	background-image:url(../img/galeria/flecha_izq.png);
	background-repeat:no-repeat;
	width:13px;
	height:37px;
	cursor:pointer;
	float:left;
	margin:45px 2px 0 10px;
}
#cuerpo .galeria .disabled
{
	visibility:hidden;
}

#cuerpo .galeria  .flechaDer
{
	float:right;
	background-image:url(../img/galeria/flecha_der.png);
	background-repeat:no-repeat;
	width:13px;
	height:37px;
	cursor:pointer;
	margin:-85px 10px 0 0px;
}

/* ====== SECCION SRT ====== */
#cuerpo .srt {background-color:#d0cfcf;}
#cuerpo .srt .delimiter { height:200px; }

.media { float:left; margin: 50px 0 0 100px; }
.copy  { float:left; margin:50px 0 0 50px;   }

h3#srt_header{
	text-align:left;
	margin-bottom:0px;
	color:#444444;
}
h2#srt_nombre, h2#srt_nombre sup{
	color: #444444;
	padding: 0;
	margin-top:10px;
	background: none;
	text-transform: none
}
.srt  a{ font-size:14px; margin-top:30px;}

.btn-pill-round {
	color: #2c2c2c;
	display: inline-block;
	border: 0;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 11px Arial, Helvetica, sans-serif;
	padding: 6px 10px;
	text-shadow: 0 1px 1px #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

}

a.btn-pill-round:hover {
	color: #2c2c2c;
}

.color-gold {
	background-color: #ffcc03;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc03), to(#ff9f02)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffcc03, #ff9f02); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:	-moz-linear-gradient(top, #ffcc03, #ff9f02); /* Firefox 3.6-15 */
	background-image:	  -o-linear-gradient(top, #ffcc03, #ff9f02); /* Opera 11.10-12.00 */
	background-image:		 linear-gradient(to bottom, #ffcc03, #ff9f02); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc03', endColorstr='#ff9f02')"; /* IE 8+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc03', endColorstr='#ff9f02'); /* IE 8- */
}

[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	background: url(../img/sprite-global.png) no-repeat left top;
	vertical-align: text-top;
	margin: 3px 0 0 5px;
}
.icon-carat-right {
	background-position: left top;
	line-height: 9px;
	width: 7px;
	height: 9px;
}

/* ====== MODS2013 ====== */
#cuerpo .modelos2013 {background-color:#fff;}
#cuerpo .modelos2013 .delimiter { height:300px; }

.next_steps {
	box-shadow: none;
	margin-bottom: 45px;
	padding-top: 30px;
	
}

.step{
	float:left;
	display:block;
	width:186px;
	padding:0 25px;
	/*border-right:1px solid #d4d4d4;*/
	text-align: center;
	min-height:235px;
	height:auto !important;
	height:235px;
}

.step h3{
	line-height: 20px;
	min-height:40px;
	height:auto !important;
	height:40px;
	color:#000;
}

.step p{
	text-align: center;
	margin-bottom:15px;
	min-height:50px;
	height:auto !important;
	height:50px;
	color:#000;
}

.step a{
	font-weight:bold;
	color:#ffb302;
}


/* ====== BOTONES COTIZACION, PRUEBA DE MANEJO Y ACCESORIOS MOPAR====== */
#boton-mopar{position:absolute; left: 0px;}
#boton-mopar a{display: block;
    background-image: url('../img/home/btn-mopar.png');
    width: 204px;
    height: 60px;
    }

#boton-cotiza,
#boton-prueba-manejo
{
	position:absolute;
	top:75px;
}
#boton-cotiza a
{
	display:block;
	background-image:url('../../../img/interior/btn_solicita_cotizacion_2014.png');
	width:165px;
	height:60px;
	margin-top:70px;
}
#boton-prueba-manejo a
{
	display:block;
	background-image:url('../../../img/interior/btn_solicita_prueba_manejo_2014.png');
	width:165px;
	height:60px;
}


/* ==========================================================================
   SRT -  Grand Cherokee SRT trim info
   ========================================================================== */
