body {
	margin: 0;
	background-color: Transparent;
	/*background-image: url(../img/interior/fondo_precios.png);*/
	color: #fff;
}

.tblTitulo { font: bold 12px Arial, Helvetica, Sans-serif; color: #fff; }
.tblTitulo td { font: bold 12px Arial, Helvetica, Sans-serif; color: #fff; }

/*.tblPrec ul { list-style-type: ;}*/
.tblPrec li, .tblPrecDetalle li {
	font: normal 11px Arial, Helvetica, Sans-serif;
	color: #000;
	list-style-type:none;
}



.disc  {
	float: left;
	width: 500px;
	font: normal 10px Arial, Helvetica, Sans-serif;
	color: #000;
	padding:10px;
}
.vigencia {
	/*float: right;*/
	font: normal 10px Arial, Helvetica, Sans-serif;
	color: #000;
	text-align: center;
	padding:10px;
}
.legal {
	float: left;
	font: normal 9px Arial, Helvetica, Sans-serif;
	margin-top:0px;
	color: #000;
	padding:10px;
	margin-bottom: 20px;
}
.titPR {
	background-color: #26190C;
	background-image: url(../img/interior/pleca_precios.png);
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #fff;
	padding-left: 20px;
}
.cantPR {
	background-color: #000000;
	font-weight: bold;
	color: #C49609;
	width: 80px;
}
/*
.titPR .lista,
.titPR .contado{
	margin-left:-80px;
}
*/
.MismasCarac {
	color: #000;
	font: italic 11px Arial, Helvetica, Sans-serif;
}

.notas-disclaim{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	font-family:Arial, Helvetica, Sans-serif;
}
.titPR .first
{
    width:640px;
}
#btnImprimir
{
    background-image:url(../img/interior/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:23px;
    right:0;
    display:none;
}
#btnImprimir.precio
{
    background-image:url(../img/interior/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:0;
    right:0;
    display:none;
}
#centro
{
    margin-top:60px;
}

/*Estilos para grand cherokee 2014*/
@font-face {
    font-family: 'linux_biolinumregular';
    src: url('../grand-cherokee/2014/fonts/linbiolinum_r.eot');
    src: url('../grand-cherokee/2014/fonts/linbiolinum_r.eot?#iefix') format('embedded-opentype'),
         url('../grand-cherokee/2014/fonts/linbiolinum_r.woff') format('woff'),
         url('../grand-cherokee/2014/fonts/linbiolinum_r.ttf') format('truetype'),
         url('../grand-cherokee/2014/fonts/linbiolinum_r.svg#linux_biolinumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#precios .CHER14 { background-image:none; }
#precios.CHER14 #centro { margin-top:0; }
#precios.CHER14 .titPR
{
    background-color:#27221E;
    background-image: none;
    padding: 5px 5px 5px 20px;
}
#precios.CHER14 tr.titPR
{
    padding: 5px;
}
#precios.CHER14 .tblPrec
{
    margin: 5px;
    width: 99%;
}
#precios.CHER14 .titPR,
#precios.CHER14 .tblPrec li,
#precios.CHER14.tblPrecDetalle li
{
    font-family:'linux_biolinumregular', Arial;
    font-size:14px 
}
#precios.CHER14 #btnImprimir
{
    background-image:url(../grand-cherokee/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}

/*Estilos para PATRIOT 2014*/
@font-face {
    font-family: 'granapadanomedium';
    src: url('../patriot/2014/fonts/granapadano-webfont.eot');
    src: url('../patriot/2014/fonts/granapadano-webfont.eot?#iefix') format('embedded-opentype'),
         url('../patriot/2014/fonts/granapadano-webfont.woff') format('woff'),
         url('../patriot/2014/fonts/granapadano-webfont.ttf') format('truetype'),
         url('../patriot/2014/fonts/granapadano-webfont.svg#granapadanomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:14px;
}
#precios.PATR14
{
    background-image:none;
}
#precios.PATR14 #centro
{
    margin-top:0;
}
#precios.PATR14 .titPR
{
    background-color:#27221E;
    background-image:none;
    padding:5px 5px 5px 20px;
}
#precios .titPR.precio
{
    padding-left:0;    
}
#precios.PATR14 tr.titPR
{
    padding:5px;
}
#precios .titPR.nombre
{
    width:510px;
}
#precios.PATR14 .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.PATR14 .titPR,
#precios.PATR14 .tblPrec li
#precios.PATR14 .tblPrecDetalle li
{
    font-family:'granapadanomedium', Arial;
    font-size:14px 
}
#precios.PATR14 #btnImprimir
{
    background-image:url(../patriot/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}
/*Estilos para WRANGLER 2014*/

@font-face {
    font-family: 'granapadanomedium';
    src: url('../wrangler/2014/fonts/granapadano-webfont.eot');
    src: url('../wrangler/2014/fonts/granapadano-webfont.eot?#iefix') format('embedded-opentype'),
         url('../wrangler/2014/fonts/granapadano-webfont.woff') format('woff'),
         url('../wrangler/2014/fonts/granapadano-webfont.ttf') format('truetype'),
         url('../wrangler/2014/fonts/granapadano-webfont.svg#granapadanomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:14px;
}

#precios.WRAN214
{
    background-image:none;
}

#precios.WRAN214 .titPR
{
    background-color:#101309;
    background-image:none;
    padding:5px 5px 5px 20px;
}

#precios.WRAN214 #centro
{
    margin-top:0;
	background: #b4bba4;
}

#precios.WRAN214  tr.titPR
{
    padding:5px;
}
#precios.WRAN214  .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.WRAN214  .titPR,
#precios.WRAN214  .tblPrec li
#precios.WRAN214  .tblPrecDetalle li
{
     font-family:'granapadanomedium', Arial;
    font-size:14px 
}
#precios.WRAN214  #btnImprimir
{
    background-image:url(../compass/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}


/*Estilos para WRANGLER UNLIMITED 2014*/

@font-face {
    font-family: 'granapadanomedium';
    src: url('../wrangler-unlimited/2014/fonts/granapadano-webfont.eot');
    src: url('../wrangler-unlimited/2014/fonts/granapadano-webfont.eot?#iefix') format('embedded-opentype'),
         url('../wrangler-unlimited/2014/fonts/granapadano-webfont.woff') format('woff'),
         url('../wrangler-unlimited/2014/fonts/granapadano-webfont.ttf') format('truetype'),
         url('../wrangler-unlimited/2014/fonts/granapadano-webfont.svg#granapadanomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:14px;
}

#precios.WRAN414
{
    background-image:none;
}

#precios.WRAN414 .titPR
{
    background-color:#101309;
    background-image:none;
    padding:5px 5px 5px 20px;
}

#precios.WRAN414 #centro
{
    margin-top:0;
}

#precios.WRAN414  tr.titPR
{
    padding:5px;
}
#precios.WRAN414  .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.WRAN414  .titPR,
#precios.WRAN414  .tblPrec li
#precios.WRAN414  .tblPrecDetalle li
{
     font-family:'granapadanomedium', Arial;
    font-size:14px 
}
#precios.WRAN414  #btnImprimir
{
    background-image:url(../compass/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}


/*Estilos para COMPASS 2014*/
@font-face {
    font-family: 'oregon_ldobold';
    src: url('../compass/2014/fonts/oregon_ldo_bold-webfont.eot');
    src: url('../compass/2014/fonts/oregon_ldo_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.woff') format('woff'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.ttf') format('truetype'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.svg#oregon_ldobold') format('svg');
    font-style: normal;
    font-style: normal;

}
#precios.COMP14
{
    background-image:none;
}
#precios.COMP14 #centro
{
    margin-top:0;
}
#precios.COMP14 .titPR
{
    background-color:#27221E;
    background-image:none;
    padding:5px 5px 5px 20px;
}
#precios.COMP14 tr.titPR
{
    padding:5px;
}
#precios.COMP14 .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.COMP14 .titPR,
#precios.COMP14 .tblPrec li
#precios.COMP14 .tblPrecDetalle li
{
    font-family:'oregon_ldo', Arial;
    font-size:14px 
}
#precios.COMP14 #btnImprimir
{
    background-image:url(../compass/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}

/*Estilos para CHEROKEE 2014*/

@font-face {
    font-family: 'oregon_ldobold';
    src: url('../compass/2014/fonts/oregon_ldo_bold-webfont.eot');
    src: url('../compass/2014/fonts/oregon_ldo_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.woff') format('woff'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.ttf') format('truetype'),
         url('../compass/2014/fonts/oregon_ldo_bold-webfont.svg#oregon_ldobold') format('svg');
    font-style: normal;
    font-style: normal;

}



#precios.CHRO14
{
    background-image:none;
}
#precios.CHRO14 #centro
{
    margin-top:0px;
}
#precios.CHRO14 .titPR
{

    background-color:#876b0e;
    background-image:none;
    padding:5px 5px 5px 20px;
    color: #fff;
}
#precios.CHRO14 tr.titPR
{
    padding:5px;
}
#precios.CHRO14 .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.CHRO14 .titPR,
#precios.CHRO14 .tblPrec li
#precios.CHRO14 .tblPrecDetalle li
{
    font-family:'oregon_ldobold', Arial;
    font-size:14px 
}
#precios.CHRO14 #btnImprimir
{
    background-image:url(../compass/2014/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}

#precios.CHRO14 .disc, #precios.CHRO14 .vigencia, #precios.CHRO14 .legal {
    color: #fff;
}

#precios.CHRO14 .tblPrec li, #precios.CHRO14 .tblPrecDetalle li {
    color: #fff;
    margin-bottom: 3px;
    font-size: 12px;
}


/*PRECIOS GRAND CHRPOKEE BLINDADA*/

#precios.GCBL14
{
    background-image:none;
    font-family:"Myriad Pro", arial, helvetica, sans-serif;
}

#precios.GCBL14 .disc  {

    font:  "Myriad Pro", arial, helvetica, sans-serif !important;

}
#precios.GCBL14 #centro
{
    margin-top:0px;
}
#precios.GCBL14 .titPR
{

    background-color:#38480f;
    background-image:none;
    padding:5px 5px 5px 20px;
    color: #fff;
}

#precios.GCBL14 .tblPrecDetalle { margin-top: -30px;}
#precios.GCBL14 .tblPrecDetalle tr.titPRSel td.nombre { background-color: transparent !important}
#precios.GCBL14 .tblPrecDetalle tr.titPRSel td.nombre div { display: none !important}


#precios.GCBL14 tr.titPR
{
    padding:5px;
}
#precios.GCBL14 .tblPrec
{
    margin:5px;
    width:99%;
}
#precios.GCBL14 .titPR,
#precios.GCBL14 .tblPrec li
#precios.GCBL14 .tblPrecDetalle li
{
    font-family:"Myriad Pro", arial, helvetica, sans-serif;
    font-size:16px 
}
#precios.GCBL14 #btnImprimir
{
    background-image:url(../grand-cherokee/blindada/img/precios/btn_imprimir.png);
    background-repeat:no-repeat;
    width:92px;
    height:33px;
    cursor:pointer;
    position:fixed;
    top:40px;
    right:10px;
    
}

#precios.GCBL14 .disc, #precios.GCBL14 .vigencia, #precios.GCBL14 .legal {
    color: #B0B0B0;
    font-family:"Myriad Pro", arial, helvetica, sans-serif !important;
    font-size: 12px;
}

#precios.GCBL14 .tblPrec li, #precios.GCBL14 .tblPrecDetalle li {
    color: #B0B0B0;
    margin-bottom: 3px;
    font-size: 12px;
    font-family:"Myriad Pro", arial, helvetica, sans-serif;
}


